@import '../../shared/style/variables';


@keyframes burgerOn{
   0%{
      opacity: 0;
      height: 0px;
   }
   100%{
      opacity: 1;
      height: 180px;
   }
}
@keyframes rotate1{
   0%{
      transform: rotate(0deg);
      transform-origin: top left;
   }
   100%{
      transform: rotate(45deg);
      transform-origin: top left;

   }
}
@keyframes rotate2{
   0%{
      transform: rotate(0deg);
      transform-origin: bottom left;
   }
   100%{
      transform: rotate(-45deg);
      transform-origin: bottom left;

   }
}
@keyframes disappear{
   0%{
      opacity: 1;
   }
   100%{
      opacity: 0;
   }
}
@keyframes burgerOff{
   0%{
      opacity: 1;
      height: 180px;
   }
   100%{
      opacity: 0;
      height: 0px;
   }
}
@keyframes rotate1Off{
   0%{
      transform: rotate(45deg);
      transform-origin: top left;
   }
   100%{
      transform: rotate(0deg);
      transform-origin: top left;
   }
}
@keyframes rotate2Off{
   0%{
      transform: rotate(-45deg);
      transform-origin: bottom left;
   }
   100%{
      transform: rotate(0deg);
      transform-origin: bottom left;
   }
}
@keyframes appear{
   0%{
      opacity: 0;
   }
   100%{
      opacity: 1;
   }
}

.header{
   width: 100%;
   height: 90px;
   background-color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
   position: fixed;
   top: 0;
   left:0;
   &.shadow{
      box-shadow: 0 0 4px 1px rgb(216, 216, 216);
   }
   &-logo{
      height: 100%;
      display: flex;
      align-items: center;
      background-color: $main-color;
      padding: 0 22px;
      transition: 0.35s;
      &:hover{
         cursor: pointer;
         transition: 0.35s;
      }
   }

   &-nav{
      position: relative;
      height: 100%;
      &-menu{
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         &-item{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 75px;
            height: 75px;
            margin-left: 10px;
            border: 2px solid transparent;
            border-radius: 10px;
            text-transform: capitalize;
            text-align: center;
            position: relative; 
            transition: 0.35s;
            &:hover{
               border-color: $main-color;
               cursor: pointer;
               transition: 0.35s;
            }
            div{
               position: absolute;
               inset: 2px;
               border-radius: 7px;
               z-index: 3;
               background-color: white;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               img{
                  width: 30px;
                  height: 30px;
               }
               p{
                  font-weight: bold;
                  margin-top: 10px;
               }
            }
            
         }
      }
   }
   &-burger{
      height: 100%;
      width: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &-button{
         width: 50px;
         height: 50px;
         border: 2px solid transparent;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         z-index: 5;
         span{
            width: 25px;
            display: block;
            height: 3px;
            border-radius: 10px;
            background-color: #252525;
            transition: 0.35s;
            &:nth-child(1), &:nth-child(2){
               margin-bottom: 5px;
            }
         }
         &:hover{
            border-color:$main-color;
            cursor: pointer;
            transition: 0.35s;
         }
      }
      &-list{
         position: absolute;
         top: 0;
         left: -20px;
         width: 200px;
         border: 2px solid $main-color;
         border-radius: 10px;
         background-color: rgba(255, 255, 255);
         opacity: 0;
         z-index: 4;
         padding: 80px 0 0 30px;
         overflow: hidden;
         li{
            width: 160px;
            height: 40px;
            border: 2px solid transparent;
            border-radius: 10px;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
            padding-left: 10px;
            line-height: 40px;
            transition: 0.35s;
            &:hover{
               border-color: $main-color;
               cursor: pointer;
               transition: 0.35s;
            }
         }
      }
   }
   &-call-back{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      button{
         height: 40px;
         width: 200px;
         background-color: $main-color;
         border-radius: 10px;
         border: 2px solid transparent;
         display: flex;
         align-items: center;
         justify-content: center;
         transition: 0.35s;
         span{
            font-size: 14px;
            font-weight: bold;
            margin-left: 5px;
            line-height: 40px;
            text-transform: uppercase;
         }
         &:hover{
            background-color: white;
            border-color: $main-color;
            cursor: pointer;
            transition: 0.35s;
         }
      }
   }
   &-info{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p:nth-child(2){
         font-size: 13px;
      }
   }
   &-user{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div{
         width: 50px;
         height: 50px;
         border: 2px solid transparent;
         border-radius: 10px;
         display: flex;
         align-items: center;
         justify-content: center;
         transition: 0.35s;
         img{
            // display: block;
            width: 25px;
            height: 25px;
         }
         &:hover{
            border-color: $main-color;
            cursor: pointer;
            transition: 0.35s;
         }
      }
      
   }
   &-basket{
      height: 100%;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-color;
      transition: 0.35s;
      &:hover{
         cursor: pointer;
         transition: 0.35s;
      }
      i{
         position: relative;
         margin-right: 10px;
         span{
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            top: 0;
            right: -7px;
            background-color: #fff;
            font-size: 14px;
            font-style: normal;
            border-radius: 100%;
            text-align: center;
            line-height: 20px;
         }
      }
      &-price{
         b{
            margin-right: 5px;
         }
      }
   }
}

.fixed{
   position: fixed;
   top: 0;
   left: 0;
   box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%);
}

.burgerOn{
   animation: burgerOn 0.5s forwards;
}
.rotate1{
   animation: rotate1 0.5s forwards;
}
.rotate2{
   animation: rotate2 0.5s forwards;
}
.disappear{
   animation: disappear 0.5s forwards;
}
.hoverOff:hover{
   border-color: white;
}
.burgerOff{
   animation: burgerOff 0.5s forwards;
   display: none;
}
.rotate1Off{
   animation: rotate1Off 0.5s forwards;
}
.rotate2Off{
   animation: rotate2Off 0.5s forwards;
}
.disappearOff{
   animation: appear 0.5s forwards;
}

.basket-container{
   width: 100%;
   height: 100%;
   background-color: rgba(83, 83, 83, 0.616);
   position: fixed;
   top: 0;
   right: 0;
   z-index: 10;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   .basket{
      width: 600px;
      height: 200px;
      margin-top: 80px;
      padding: 10px 20px;
      position: relative;
      z-index: 10;
      background-color: white;
      border-radius: 10px;
      table{
         width:600px;
         margin-top: 20px;
         tr>td{
            height: 60px;
            vertical-align: middle;
            text-align: center;
            &:nth-child(1){
               width: 100px;
               img{
                  height: 50px;
               }
            }
            &:nth-child(2){
               width: 150px;
            }
            &:nth-child(3){
               width: 100px;
               .count{
                  margin: 0 auto;
                  width: 70px;
                  padding: 5px 10px;
                  border: 1px solid $gray;
                  border-radius: 10px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  button{
                     width: 16px;
                     height: 25px;
                     border: 1px solid transparent;
                     border-radius: 5px;
                     background-color: transparent;
                     font-size: 18px;
                     color: $dark-gray;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     &:hover{
                        cursor: pointer;
                        background-color: $main-color;
                        transition: 0.35s;
                     }
                  }
                  input{
                     width: 20px;
                     text-align: center;
                     border: none;
                     font-weight: bold;
                     font-size: 16px;
                  }
               }
            }
            &:nth-child(4){
               width: 50px;
            }
            &:nth-child(5){
               width: 20px;
            }
         }      
      }
      &-order{
         position: absolute;
         bottom:0;
         left: 0;
         padding: 0 20px;
         width: 600px;
         height: 100px;
         background-color: $main-color;
         border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         button{
            display: block;
            width: 220px;
            height: 50px;
            border-radius: 10px;
            background-color: white;
            border: 1px solid white;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            &:hover{
               cursor: pointer;
               border-color: rgb(98, 159, 230);
            }
         }
      }
   }
}
