@import '../shared/style/variables';

.container{
   width: 98%;
   margin: 20px auto;
   padding: 0 10px;
   display: flex;
   justify-content: space-between;
   .navbar{
      width: 200px;
      height: 400px;
      &-categories{
         width: 200px;
         height: 300px;
         margin-bottom: 10px;
         &-select{
            width: 200px;
            height: 75px;
            border: 1px solid $gray;
            text-align: center;
            line-height: 75px;
            font-size: 18px;
            color: $dark-gray;
            &:hover{
               cursor: pointer;
            }
         }
         &-select.active{
            color: black;
            font-weight: bold;
            border-top: 4px solid $main-color;
         }
      }
      &-button{
         width: 200px;
         height: 100px;
         button{
            width: 100PX;
            height: 60px;
            display: block;
            margin: 20px auto;
            background-color: $main-color;
            border-radius: 10px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            border: 2px solid $main-color;
            transition: 0.35s;
            &:hover{
               background-color: white;
               cursor: pointer;
               transition: 0.35s;
            }
         }
      }
   }
   .content{
      width: 1080px;
   }

}
